langchain-core
langchain-community
langchain-chroma
langchain-huggingface
sentence-transformers
torch
scikit-learn
python-dotenv
mem0ai
numpy
langgraph
typing-extensions
torch torchvision torchaudio
transformers==4.33.0 accelerate datasets evaluate wandb scikit-learn scipy sentencepiece